.block() {
	display: block;
	overflow: hidden;
}
.radius(@rnd: 100%) {
	-webkit-border-radius: @rnd;
	-moz-border-radius: @rnd;
	border-radius: @rnd;
}
.transition(@trns: .2s) {
	-webkit-transition: @trns;
	-moz-transition: @trns;
	transition: @trns;
}