@import "_variables.less";
@import "mixins/_buttons.less";
@import "mixins/_blocks.less";

@import "modules/_reset.less";
@import "modules/_sidebar-menu.less";

@import "_fonts.less";
@import "_texts.less";

@import "partials/_header.less";
@import "partials/_main.less";
@import "partials/_footer.less";

@import "components/_sidebar.less";
@import "components/_search.less";
@import "components/_userprofile.less";
@import "components/_date.less";
@import "components/_weather.less";

@import "modules/_buttons.less";
@import "modules/_forms.less";

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
	padding: 0;
	margin: 0;
	font: 13px/19px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.wrapper {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
}