.user-profile {
	flex: 1;
	display: flex;
	align-items: center;
	max-width: 280px;
	min-width: 200px;
	padding: 0 15px;
	white-space: nowrap;
	overflow: hidden;
	&__avatar {
		display: inline-block;
		width: 27px;
		height: 27px;
		margin: 0 15px 0 0;
		background: #ccc url('../img/ava.jpeg') 0 0 no-repeat;
		background-size: cover;
		.radius();
	}
	&__name {
		display: inline-block;
		position: relative;
		&:after {
			content: '';
			width: 9px;
			height: 9px;
			position: absolute;
			right: -20px;
			top: 3px;
			border-right: 1px solid @blue-light;
			border-bottom: 1px solid @blue-light;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}